* {
    margin: 0px;
}
body {
    background-image: linear-gradient(to right top, rgb(67, 64, 64), red, white);
    height: 100vh;
    color: white;
    border-width: 0.5rem;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding: 2rem;
}
h1 {
    text-align: center;
}
#event-title {
    margin: 1.5rem;
}
.fat {
    width: 70%;
    height: 80vh;
    margin: auto;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    background-color: rgb(217, 35, 15);
    height: auto;
    gap: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(129, 124, 124);
    border-image: initial;
    padding: 2rem;
    border-radius: 50px;
}
.one {
    display: flex
;
    flex-direction: column;
}
.one input, .two input {
    height: 2rem;
    border-radius: 30px;
}
.two {
    display: flex
;
    flex-direction: column;
}
.three {
    display: flex
;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / 3;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 20px;
    padding: 5px;
}
.four {
    grid-area: 3 / 1 / 4 / 3;
}
.five {
    display: flex
;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 2px;
    grid-area: 4 / 1 / 5 / 3;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 20px;
}
label[for="actions"] {
    text-align: center;
    margin-bottom: 5px;
}
.six {
    display: flex
;
    grid-area: 5 / 1 / 6 / 3;
}
textarea {
    width: 100%;
}
button {
    position: relative;
    left: 14rem;
    width: 100%;
    margin: 1rem;
}